<h3 class="text-center pt-2 pb-3">Welcome to your game collection <%= session[:username] %></h3>

<div class="col">
<a class="btn btn-success mb-3" href="/games/new" role="button">Add Game +</a>
<a class="btn btn-danger mb-3" href="/logout" role="button">Logout</a>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Publisher</th>
      <th scope="col">Year Released</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each_with_index do |game, i| %>
    <tr>
      <th scope="row"><%= i + 1%></th>
      <td><%= game.title %></td>
      <td><%= game.publisher %></td>
      <td><%= game.year_released %></td>
      <td><%= game.rating %></td>
      <td><a class="btn btn-danger mb-3" href="/games/<%= game.id %>/edit" role="button">edit</a></td>
      <td><form action="/games/<%= game.id %>" method="POST"><input type="submit" value="Delete"></form></td>
    </tr>
    <% end %>
  </tbody>
</table>
